* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}

body {
    background: #FFFEFE;
}

.container {
    min-width: 400px;
    max-width: 75%;
    padding: 1em;
    margin: auto;
    text-align: center;
}